@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

:root {
    --primario: #1A4AC2;
    --secundario: #77C206;
    --terciario: #C2492D;
    --primario_dark: #042475;
    --secundario_dark: #4A7509;
    --ligth: #e7e7e7;
    --dark: #333333;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}

body {
    overflow-y: hidden;
}

.container {
    position: relative;
    height: 750px;
    width: 460px;
    margin: auto;
    background-color: var(--primario);
    border-radius: 0px 0px 250px 250px;
}

.logo {
    position: relative;
    margin: auto;
    top: 35px;
    width: 100px;
    height: 100px;
    background-color: var(--primario);
}

.logo .title {
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 800;
    margin-top: 7px;
}

.logo .icon {
    width: 75px;
    height: 75px;
    text-align: center;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

div .icon_user {
    position: relative;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url('../images/user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    box-shadow: none;

}

div .icon_newUser {
    position: relative;
    top: 0px;
    width: 50px;
    height: 50px;
    background-image: url('../images/new_user.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    box-shadow: none;

}

form {
    position: relative;
    width: 350px;
    margin: auto;
    padding: 25px 25px;
    border-radius: 7px;
    border: 1px solid var(--primario);
    background-color: white;
    box-shadow: 0px 12px 15px var(--primario_dark);
}

#loginForm {
    top: 30%;
    transform: translateY(-50%);
    transition: transform 2s ease, opacity 0.5s ease-in;
    z-index: 2;
}

#regForm {
    position: relative;
    top: -10%;
    opacity: 0%;
    transform: translateY(50%);
    transition: all 2s ease, opacity 0.5s ease-out;
    z-index: 1;
}

form h3 {
    text-align: center;
    color: var(--primario_dark);
}

form div {
    margin: 11px;
    border-radius: 5px;

    box-shadow: 0px 5px 7px var(--ligth);
}

form label {
    display: block;
    font-size: 10px;
    font-weight: 800;
    padding: 5px 5px 0px 5px;
    color: var(--primario);
}

div .div_user {
    background-image: url('../images/input_user.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right;
}

div .div_mail {
    background-image: url('../images/mail.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right;
}

div .div_pass {
    background-image: url('../images/pass.svg');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right;
}

form div:last-of-type {
    text-align: center;
    border-bottom: 15px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

form input[type="submit"],
form input[type="button"] {
    width: 100px;
    padding: 11px;
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: var(--secundario_dark);
    color: var(--ligth);
}

form input[type="submit"]:hover,
form input[type="button"]:hover {
    /* box-shadow: 0px 3px 3px var(--dark); */
    background-color: var(--secundario);
    cursor: pointer;
}

form input[type="submit"]:focus-visible {
    outline: none;
    box-shadow: 0px 5px 7px var(--dark);
}

.inputForm {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    border: none;
    padding: 0px 7px 7px 7px;
    color: var(--primario_dark);
    font-size: 14px;
    color: var(--dark);
    font-weight: 800;
}

.inputForm:focus {
    outline: none;
}

form>.enlace {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    color: var(--primario_dark);
    text-decoration: underline;
}

form>p:hover {
    cursor: pointer;
}

.inputAlert {
    box-shadow: 0px 1px 3px var(--terciario);
}

.alert {
    background-color: white;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
    color: var(--terciario);
    padding: 3px;
    box-shadow: none;
}

.inputAlert>label {
    color: var(--terciario);
}

#check {
    position: relative;
    top: -49%;
    opacity: 0%;
    transition: all 2s ease;
    z-index: 0;
}

#check>p {
    text-align: center;
    font-weight: 800;
    color: var(--terciario);
    font-size: 11px;
    margin: 25px 0px;
}

#check input[type="submit"] {
    margin-top: 15px;
    background-color: var(--secundario_dark);
}

#check input[type="button"],
#btns_reg input[type="button"] {
    margin-top: 15px;
    margin-left:15px;
    background-color: var(--terciario);
}
div .div_key {
    background-image: url('../images/key.svg');
    background-repeat: no-repeat;
    background-size: 53%;
    background-position: right;
}
@media (max-width: 460px) {
    .container {
        width: 100%;
    }
    form {
        width: 100%;
    }
}